body {
    font-family:"poppins";
}
nav {
    border-bottom: 2px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
  }
li {
    display: inline;
    margin-right: 30px;

  }
a {
    color: black;
    text-decoration: none;
  }

  .flex-container {
    
    display: flex;
    flex-wrap: wrap; /* Allow for multiple rows */
    justify-content: space-between; /* Distribute items evenly */
    margin:10px;
    padding:2px;
    
  }
  .imageContainer {
    width: calc(33.33% - 20px);
    height:300px;
    
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    
    box-sizing: border-box;
    overflow: hidden;
  }
  .imageContainer img {
    width: 100%;
    height: auto;
    display: block;
    top: 50%;

    
  }
.button-container {
    text-align: center;
    margin-top: 20px;
    vertical-align: center;
  }
.button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .image-item {
    width: 200px; /* Set the width of each image */
    height: auto; /* Maintain aspect ratio */
  }
.scrollTop{
  border:0px solid;
  background-color:gray;
  height:40px;
  width:40px;
  position:fixed;
  right:20px;
  bottom:30px;
  border-radius:20px;
  cursor:pointer;
}

/* Styles for loading icon */
.loading-icon {
  display: none;
  position: fixed;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.spinner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Login card */
.card-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}



/* Media Query */

@media only screen and (max-width: 650px) {
    .imageContainer {
        width: calc(50% - 20px);
        
      }
  }
 
    /* Optionally, hide the button again on even larger screens: */
@media (min-height: 2500px) {
      body .scrollTop {
        display: none;
      }
    }